<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Authors</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Authors</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <authors-container />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
import AuthorsContainer from '@/components/AuthorsContainer.vue';

export default  {
  name: 'AuthorsTab',
  components: { AuthorsContainer, IonHeader, IonToolbar, IonTitle, IonContent, IonPage }
}
</script>