<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Capture</ion-title>
      </ion-toolbar>
    </ion-header>
    <capture-story-container fullscreen />
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle } from '@ionic/vue';
import { useStore } from '@/store';
import { computed } from '@vue/reactivity';
import CaptureStoryContainer from '@/components/CaptureStoryContainer.vue';


export default  {
  name: 'Tab1',
  components: { IonHeader, IonToolbar, IonTitle, IonPage, CaptureStoryContainer },
  setup() {
    const store = useStore();
    return {
      count: computed(() => 1)
    };
  }
}
</script>