<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Stories</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Stories</ion-title>
        </ion-toolbar>
      </ion-header>
      <StoriesContainer />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
import StoriesContainer from '@/components/StoriesContainer.vue';

export default  {
  name: 'StoriesTab',
  // eslint-disable-next-line vue/no-unused-components
  components: { StoriesContainer, IonHeader, IonToolbar, IonTitle, IonContent, IonPage }
}
</script>