<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="capture" href="/tabs/capture">
          <ion-icon :icon="camera" />
          <ion-label>Capture New Story</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="stories" href="/tabs/stories">
          <ion-icon :icon="document" />
          <ion-label>Stories</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="books" href="/tabs/books">
          <ion-icon :icon="book" />
          <ion-label>Books</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="authors" href="/tabs/authors">
          <ion-icon :icon="create" />
          <ion-label>Authors</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import { book, camera, create, document } from 'ionicons/icons';

export default {
  name: 'Tabs',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet },
  setup() {
    return {
      book,
      camera,
      create,
      document
    }
  }
}
</script>