<template>
  <ion-list>
    <ion-item :key="author.id" v-for="author in authors">
      <ion-label>
        <h2>{{ author.fullName }}</h2>
        <h5>Books: {{ author.bookCount ? "YES": "NO" }}</h5>
        <h5>Stories: {{ author.storyCount ? "YES": "NO" }}</h5>
        <p>{{ author.biography || 'No biography available' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { computed } from '@vue/reactivity';
import { onMounted } from '@vue/runtime-core';
import { StoryActionTypes } from '@/store/action-names';
export default {
  name: "AuthorsContainer",
  setup() {
    const store = useStore();
    const authors = computed(() => store.getters["story/authorsForDisplay"]);
    onMounted(() => {
      store.dispatch(`story/${StoryActionTypes.ACTION_GET_AUTHORS}`, {
        params: {
          _embed: ["books", "stories"]
        }
      });
    });
    return {
      authors
    }
  }
}
</script>

<style>

</style>