<template>
  <ion-content :fullscreen="fullscreen">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Capture</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button @click="takePicture()">
          <ion-icon :icon="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid>
        <ion-row>
          <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="6" :key="picture" v-for="picture in storyPictures">
            <ion-img :src="picture.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import {
  IonContent,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonFab,
  IonFabButton,
  IonIcon,
  IonGrid,
  IonRow,
  IonCol,
  IonImg 
} from '@ionic/vue';
import { camera, trash, close } from 'ionicons/icons';
import { usePictureGallery, StoryPicture } from '@/composables/usePictureGallery';

export default defineComponent({
  components: {
    IonContent,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonFab,
    IonFabButton,
    IonIcon,
    IonGrid,
    IonRow,
    IonCol,
    IonImg
  },
  props: {
    fullscreen: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    const { takePicture, storyPictures } = usePictureGallery();

    return {
      storyPictures,
      takePicture,
      camera, trash, close,
    };
  }

});
</script>

<style>

</style>