<template>
  <ion-list>
    <ion-item :key="story.id" v-for="story in stories">
      <ion-icon :icon="text" class="ion-padding" />
      <ion-label>
        <h2>{{ story.book?.title }}</h2>
        <h3>{{ story.author?.fullName }}</h3>
        <p>{{ story.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</template>

<script lang="ts">
import { computed, onMounted } from '@vue/runtime-core';
import { useStore } from '@/store';
import { StoryActionTypes } from '@/store/action-names';
import { text } from 'ionicons/icons';
import { ComputedRef } from 'vue';

export default {
  name: 'StoriesContainer',
  setup() {
    const store = useStore();
    const stories: ComputedRef<Story[]> = computed(() => store.state.story.stories.data);
    onMounted(() => {
      store.dispatch(`story/${StoryActionTypes.ACTION_GET_STORIES}`, {
        params: {
          _expand: ['author', 'book']
        }
      });
    });
    return {
      stories,
      text
    };
  }
}
</script>

<style>

</style>